.inputContainer {
  // display: flex;
  // width: 100%;
  margin-bottom: 1rem;
  .label {
    // margin-right: 10%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    width: 10rem;
    margin-bottom: 5px;
  }
  .inputField {
    // width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    border-width: 1px;
  }
}
