.paginationContainer {
  display: flex;
  .subContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    cursor: pointer;
    background-color: white;
    border: 1px rgb(210, 210, 210) solid;
    margin: 0 1px;
  }
}
