.profileContainer {
  background-color: white;
  padding: 5% 5% 8%;
  width: 45vw;
  height: 70vh;
  border-radius: 5px;
  position: relative;
  overflow-y: scroll;
  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .flexClass {
    display: flex;
    margin-bottom: 1rem;
  }
  .flexLeftClass {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
  }
  .photoContainer {
    display: flex;
    .photoBox {
      width: 10rem;
      height: 10rem;
      display: flex;
      align-items: center;
      img {
        width: 70%;
      }
    }
    .headingContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      //   margin-left: 2rem;
      .profileHeading {
        text-align: left;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .detailsContainer {
    margin-top: 1rem;
    .BoxContainer {
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
      //   font-size: 18px;
      //   font-weight: 600;
      width: 59%;
    }
    .addressBox {
      display: flex;
      justify-content: space-between;
      width: 82%;
      margin-bottom: 1rem;
      input {
        width: 45%;
        padding: 10px 5px;
        border-radius: 10px;
      }
    }
  }
}
