.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  // margin-bottom: 5%;

  .uploadButtonContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .uploadButton {
      border-radius: 5px;
      font-weight: bold;
      width: 10rem;
      padding: 10px 0;
      font-size: 16px;
      color: white;
      background-color: #377dff;
      border: none;
    }
  }
  .tableContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .mainTable {
      margin-top: 10px;
      background-color: white;
      box-shadow: 0 0px 3px -2px #384105;
      // width: 80vw;
      border-collapse: collapse;
      border: none;
      .genreClass {
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
        text-overflow: ellipsis;
      }
      th {
        text-align: left;
        padding: 1rem 1.5rem;
        background-color: rgb(243, 242, 242);
        border-top: 1px solid rgb(222, 221, 221);
        border-bottom: 1px solid rgb(222, 221, 221);
      }
      td {
        padding: 1rem 1.5rem;
        border-top: 1px solid rgb(243, 242, 242);
        border-bottom: 1px solid rgb(243, 242, 242);
      }
      .popUp {
        position: absolute;
        background-color: white;

        width: 5rem;
        left: 2.5rem;
        text-align: left;
        box-shadow: 0 0px 3px -2px #384105;
        border-radius: 5px;

        .popUpList {
          font-size: 14px;
          cursor: pointer;
          // border-bottom: 1px solid rgb(234, 233, 233);
          padding: 6px 10px;
        }
      }
    }
    .paginationContain {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
      // width: 80vw;
    }
  }
}
